
<form class="account-form" action="/account/create-budget" method="post">
    <div class="account-form__inputs">
        <div>
            <label for="bg_name">Budget Name</label>
            <input id="bg_name" name="bg_name" type="text" required>
        </div>
    </div>
    
    <div class="account-form__submit">
        <input class="create-form__submit" type="submit" value="Create">
    </div>
</form>
    