
<form class="standard-form" action="/account/create-budget" method="post">
    <div class="standard-form__form-group">
        <label for="bg_name">Budget Name</label>
        <input id="bg_name" name="bg_name" type="text" required>
    </div>
    
    <div class="standard-form__form-group">
        <input type="submit" value="Create">
    </div>
</form>
    