<form class="standard-form" action="/account/login" method="post">
    <div class="standard-form__form-group">
        <label for="account_username">Username</label>
        <input id="account_username" name="account_username" type="text">
    </div>

    <div class="standard-form__form-group">
        <label for="account_password">Password</label>
        <input id="account_password" name="account_password" type="password">
    </div>
    
    <div class="standard-form__form-group">
        <input type="submit" value="Login">
        <a class="text-center" href="/account/create-budget">Create a budget</a>
    </div>
</form>