<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Buddies</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="budget-layout">
    <nav>
        <a href="/budget/"><img src="/images/home.png" alt="Dashboard"></a>
        <a href="/budget/log"><img src="/images/document.png" alt="Log"></a>
        <a id="share"><img src="/images/user-add.png" alt="Share"></a>
        <a id="sign-out"><img src="/images/sign-out-alt.png" alt="Sign Out"></a>
    </nav>
    <header>
        <h1><%= budget_name %></h1>
    </header>
    <main>
        <%- body %>
    </main>
    <script src="/js/budget.js"></script>
</body>
</html>