<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Buddies</title>
    <link rel="icon" type="image/x-icon" href="/images/BudgetBuddies-blue.png">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body data-theme="light-blue" class="default-layout">
    <header>
        <img class="site-logo" src="/images/BudgetBuddies-blue.png" width="75" />
        <h1 class="primary-gradient">BudgetBuddies</h1>
    </header>
    <main>
        <%- body %>
    </main>
</body>
</html>