<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Buddies - Life</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="life-layout">
    <nav>
        <a href="/"><img src="/images/home.png" alt="Dashboard"></a>
        <a href="/life"><p>meals</p></a>
        <a href="/life/shopping"><p>shopping</p></a>
        <a href="/life/car"><p>Car</p></a>
    </nav>
    <header>
        <h1>Life</h1>
    </header>
    <main>
        <%- body %>
    </main>
    <script src="/js/budget.js"></script>
</body>
</html>