@import 'variables';
@import 'utility';

html {
    font-size: 18px;
}

body {
    background-color: var(--background);
    padding: 20px;
}

header {
    @include flexbox(row, flex-start, center);
}

main {
    margin-bottom: 110px;
}

a {
    color: var(--accent2);
}

.note {
    font-style: italic;
    font-size: 14px;
}


// ----------------------------------
// Colors
// ----------------------------------

.primary-gradient {
    background: $primary-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bg-primary-gradient {
    background: $primary-gradient;
    color: var(--text-w-background);
    fill: var(--text-w-background);
}

.bg {
    &--primary {
        background-color: var(--primary);
        color: var(--text-w-background);
        
        svg {
            fill: var(--text-w-background);
        }

        a {
            color: var(--accent3);
        }
    }

    &--accent1 {
        background-color: var(--accent1);
        color: var(--text-w-background);
        
        svg {
            fill: var(--text-w-background);
        }

        a {
            color: var(--accent4);
        }
    }

    &--accent2 {
        background-color: var(--accent2);
        color: var(--text-w-background);
        
        svg {
            fill: var(--text-w-background);
        }

        a {
            color: var(--primary);
        }
    }

    &--accent3 {
        background-color: var(--accent3);
        color: var(--text-w-background);
        
        svg {
            fill: var(--text-w-background);
        }

        a {
            color: var(--primary);
        }
    }

    &--accent4 {
        background-color: var(--accent4);
        color: var(--text-w-background);
        
        svg {
            fill: var(--text-w-background);
        }

        a {
            color: var(--primary);
        }
    }

    &--warning {
        background-color: $warning-color;
        color: $text-color-alt;
        fill: var(--text-w-background);
    }
}





// ----------------------------------
// Packages
// ----------------------------------
.text-center {
    text-align: center;
}

.hidden {
    display: none;
}






// ----------------------------------
// Buttons
// ----------------------------------
.btn {
    border: none;
    border-radius: 5px;
    box-shadow: $box-shadow-card;
    text-decoration: none;
    margin: 25px 0;
    display: block;
    text-align: center;

    &--back {
        font-size: 1.2rem;
        padding: 5px;
        width: 75px;
    }
}








// ----------------------------------
// Ham menu
// ----------------------------------
.ham-menu {
    height: 50px;
    width: 45px;
    @include flexbox(column, space-evenly, center);
    cursor: pointer;

    div {
        width: 100%;
        height: 2px;
        background-color: var(--text);

        transition: opacity 0.1s ease-in-out, transform 0.3s ease-in-out;
    }
}
.ham-menu.active {
    position: relative;
    justify-content: center;

    div {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
    }

    :nth-child(1) {
        transform: rotate(45deg);
    }
    :nth-child(2) {
        opacity: 0;
    }
    :nth-child(3) {
        transform: rotate(-45deg);
    }
}





// ----------------------------------
// Bottom Nav Bar
// ----------------------------------
nav {
    // position
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;

    // display
    @include gridbox(4);

    // styles
    background-color: var(--background);
    

    // sizing and spacing
    height: 50px;
    width: 100%;

    a {
        width: 100%;
        height: 100%;
        @include flexbox(row, center, center);
    }

    svg {
        width: 25px;
        height: 25px;
    }
}



// ----------------------------------
// Forms
// ----------------------------------
.standard-form {

   &__form-group {
    @include flexbox(column);
    margin: 25px 0;
   }

   label {
    font-size: 1.4rem;
    margin-bottom: 3px;
   }

   input, select {
    height: 40px;
    padding: 5px;
    font-size: 1.2rem;
    border-radius: 15px;
    border: 1px solid;
   }

   &__delete {
    border: none;
    box-shadow: $box-shadow-standard;
    margin-bottom: 10px;
    height: 50px !important;
    cursor: pointer;
   }

   input[type="submit"] {
    background-color: var(--accent1);
    border: none;
    box-shadow: $box-shadow-standard;
    margin-bottom: 100px;
    height: 50px;
    cursor: pointer;
   }

   textarea {
    height: 100px;
    padding: 5px;
    font-size: 1.2rem;
    border-radius: 15px;
   }

   &__link {
    display: block;
    text-decoration: none;
    margin: 25px 0;
    font-size: 1.4rem;

    &:hover {
        text-decoration: underline;
    }
   }
}

.small-form {
    @include flexbox(row, flex-start, flex-end);
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;

    &__form-group {
        @include flexbox(column);
    }

    input, select {
        height: 25px;
        border-radius: 5px;
        border: 1px solid;
    }

    input[type="submit"] {
        background-color: var(--accent1);
        border: none;
        box-shadow: $box-shadow-standard;
        height: 30px;
        cursor: pointer;
    }
}








// ----------------------------------
// Buttons
// ----------------------------------
.button {
    border-radius: 15px;
    border: none;
    box-shadow: $box-shadow-standard;
    padding: 10px;
    width: 150px;
    cursor: pointer;

    &--w-icon {
        @include flexbox(row, space-around, center);
        svg {
            width: 20px;
            height: 20px;
        }
    }

    p {
        margin: 0;
    }
}






// ----------------------------------
// Tabs
// ----------------------------------
.tabs {
    display: grid;
    box-shadow: $box-shadow-card;
    background-color: var(--accent);
    margin: 25px 0;
    border-radius: 5px;
    overflow: hidden;

    button {
        width: 100%;
        height: 50px;
        cursor: pointer;
        border: none;
        background-color: transparent;

        &:hover {
            background-color: var(--accent1);
            color: var(--text-w-background);
        }
    }

    &--2 {
        grid-template-columns: repeat(2, 1fr);
    }

    &__items {
        position: relative;
        overflow: hidden;
        height: 800px;

        .tabs__item {
            position: absolute;
            width: 100%;
            transition: transform 0.3s ease-in-out;

            &:nth-child(1) {
                transform: translateX(-150%);
            }

            &:nth-child(2) {
                transform: translateX(150%);
            }

            &.active {
                transform: translateX(0) !important;
            }
        }
    }
}
