@import url("https://use.typekit.net/psd6dgn.css");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Quicksand:wght@300..700&display=swap");
:root {
  --primary: #6CE5E8;
  --accent1: #41B8D5;
  --accent2: #2D8BBA;
  --accent3: #2F5F98;
  --accent4: #31356E;
  --background: #1E1E1E;
  --text: #FEFEFE;
  --text-w-background: #1E1E1E;
  --accent: #E4E4E4;
  --shadow-color: rgba(255, 255, 255, 0.3);
}

[data-theme=light-blue] {
  --primary: #6CE5E8;
  --accent1: #41B8D5;
  --accent2: #2D8BBA;
  --accent3: #2F5F98;
  --accent4: #31356E;
  --background: #FEFEFE;
  --text: #1E1E1E;
  --text-w-background: #FEFEFE;
  --accent: #E4E4E4;
  --shadow-color: rgba(0, 0, 0, 0.3);
}

[data-theme=light-pink] {
  --primary: #FAADE3;
  --accent1: #D541A7;
  --accent2: #BA2D93;
  --accent3: #982F7E;
  --accent4: #6E3161;
  --background: #FEFEFE;
  --text: #1E1E1E;
  --text-w-background: #FEFEFE;
  --accent: #E4E4E4;
  --shadow-color: rgba(0, 0, 0, 0.3);
}

[data-theme=dark-pink] {
  --primary: #FAADE3;
  --accent1: #D541A7;
  --accent2: #BA2D93;
  --accent3: #982F7E;
  --accent4: #6E3161;
  --background: #1E1E1E;
  --text: #FEFEFE;
  --text-w-background: #1E1E1E;
  --accent: #E4E4E4;
  --shadow-color: rgba(255, 255, 255, 0.3);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

p, input, a, span, label, textarea {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 18px;
}

body {
  background-color: var(--background);
  padding: 20px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

main {
  margin-bottom: 110px;
}

a {
  color: var(--accent2);
}

.note {
  font-style: italic;
  font-size: 14px;
}

.primary-gradient {
  background: linear-gradient(to right, var(--primary), var(--accent1), var(--accent2), var(--accent3), var(--accent4));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-primary-gradient {
  background: linear-gradient(to right, var(--primary), var(--accent1), var(--accent2), var(--accent3), var(--accent4));
  color: var(--text-w-background);
  fill: var(--text-w-background);
}

.bg--primary {
  background-color: var(--primary);
  color: var(--text-w-background);
}
.bg--primary svg {
  fill: var(--text-w-background);
}
.bg--primary a {
  color: var(--accent3);
}
.bg--accent1 {
  background-color: var(--accent1);
  color: var(--text-w-background);
}
.bg--accent1 svg {
  fill: var(--text-w-background);
}
.bg--accent1 a {
  color: var(--accent4);
}
.bg--accent2 {
  background-color: var(--accent2);
  color: var(--text-w-background);
}
.bg--accent2 svg {
  fill: var(--text-w-background);
}
.bg--accent3 {
  background-color: var(--accent3);
  color: var(--text-w-background);
}
.bg--accent3 svg {
  fill: var(--text-w-background);
}
.bg--accent4 {
  background-color: var(--accent4);
  color: var(--text-w-background);
}
.bg--accent4 svg {
  fill: var(--text-w-background);
}
.bg--warning {
  background-color: #e53935;
  color: #fefefe;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.ham-menu {
  height: 50px;
  width: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}
.ham-menu div {
  width: 100%;
  height: 2px;
  background-color: var(--text);
  transition: opacity 0.1s ease-in-out, transform 0.3s ease-in-out;
}

.ham-menu.active {
  position: relative;
  justify-content: center;
}
.ham-menu.active div {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}
.ham-menu.active :nth-child(1) {
  transform: rotate(45deg);
}
.ham-menu.active :nth-child(2) {
  opacity: 0;
}
.ham-menu.active :nth-child(3) {
  transform: rotate(-45deg);
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  height: 75px;
  width: 100%;
}
nav a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav svg {
  width: 25px;
  height: 25px;
}

.standard-form__form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin: 25px 0;
}
.standard-form label {
  font-size: 1.4rem;
  margin-bottom: 3px;
}
.standard-form input, .standard-form select {
  height: 40px;
  padding: 5px;
  font-size: 1.2rem;
  border-radius: 15px;
}
.standard-form__delete {
  border: none;
  box-shadow: 0px 12px 18px -6px var(--shadow-color);
  margin-bottom: 10px;
  height: 50px !important;
  cursor: pointer;
}
.standard-form input[type=submit] {
  background-color: var(--accent1);
  border: none;
  box-shadow: 0px 12px 18px -6px var(--shadow-color);
  margin-bottom: 10px;
  height: 50px;
  cursor: pointer;
}

/*# sourceMappingURL=styles.css.map */
