<div class="category-display">
    <%- categoryCards %>
</div>

<div class="add-category">
    <div class="add-category__icon">
        <img src="/images/plus.png" alt="Add new">
    </div>
</div>

<script src="/js/budget-dashboard.js"></script>
