<div>
    <a href="/budget/<%= slug %>" class="bg--accent1 btn btn--back">Back</a>
</div>

<h2>Total: <strong>$<%= results.total %></strong></h2>

<p class="note"><%= results.results %> results</p>

<%- logElements %>