<p>Overall expenditure by period</p>
<p>Individual budget expenditure by period</p>

<ul>
    <li>Would be cool to show graph if possible</li>
    <li>Maybe save reports in database</li>
    <li>Ask chat what would be some good stats to show</li>
    <li>Share reports option</li>
</ul>