<section>
    <h2>Current Period</h2>
    <div class="progress-bar">
        <%- currentInnerBar %>
    </div>
    <p class="progress-bar__label"><%= currentLabel %></p>
</section>

<section>
    <h2>Spending Categories</h2>
    <div class="stats-box">
        <p>Scroll to view more</p>
        <div class="">
            <div class="chart">
                <%- barHtml %>
            </div>
        </div>
    </div>
</section>

<section>
    <h2>Spending Trends</h2>
    <div class="stats-box">
        <p>Coming Soon!</p>
    </div>
</section>