<form class="standard-form" method="post" action="/life/meal/create">
    <div class="form-group">
        <label for="meal_name">Name</label>
        <input type="text" id="meal_name" name="meal_name" required />
    </div>

    <input type="submit" value="Create" />
</form>